@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #1e1e1e;
  --secondary-clr: #f1f1f1;

  --main-clr: #62262e;
  --accent-clr: #47242a;
  --auxiliary-clr: #264e61;
  --light-clr: #e7e0cf;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO implement dark mode */
    --primary-clr: #1e1e1e;
    --secondary-clr: #f1f1f1;
  }

  body {
    color: #1e1e1e;
    background: #e7e0cf;
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }

    .grid-layout {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .interactive-btn {
      transform-origin: center;
      transition: transform 0.2s linear;

      &:hover {
        transform: scale(0.9);
      }
      &:active {
        transform: scale(1.2);
      }
    }

    .shimmer {
      background: linear-gradient(90deg, #e0e0e0 25%, #cfcfcf 50%, #e0e0e0 75%);
      background-size: 1000px 100%;
      animation: shimmer 1.5s infinite;
    }

    .max-w-page {
      max-width: 120rem;
      margin-inline: auto;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
