@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #1e1e1e;
  --secondary-clr: #f1f1f1;

  --main-clr: #62262e;
  --accent-clr: #47242a;
  --auxiliary-clr: #264e61;
  --light-clr: #e7e0cf;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO implement dark mode */
    --primary-clr: #1e1e1e;
    --secondary-clr: #f1f1f1;

    --main-clr: #62262e;
    --accent-clr: #47242a;
    --auxiliary-clr: #264e61;
    --light-clr: #e7e0cf;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
